.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
    background-color: #4EA685;
    color: white;
}

.logo a {
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
}

.logo a:hover {
    opacity: 0.8;
}

.logo h2 {
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.search-bar input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.login-btn {
    padding: 5px 10px;
    background-color: rgb(16, 13, 13);
    color: #4EA685;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.logout-btn {
    padding: 5px 10px;
    background-color: #ff4444;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.logout-btn:hover {
    background-color: #cc0000;
}
